<div class="header--flex div--no-margins div__subheader--color">
  <button md-button type="button" class="size-xs button--responsive" (click)="back()" *ngIf="showBack">
    <md-icon>arrow_back</md-icon>
  </button>
  <h3 class="h3--no-margins h3--padding">{{title}}</h3>
  <span class="fill-remaining-space"></span>
  <button md-button class="button--responsive" (click)="showAll()" *ngIf="showShowAll">
    <md-icon>content_copy</md-icon>
    <span class="size-xl">alle</span>
  </button>
  <button md-button class="button--responsive" (click)="create()" [disabled]="disableCreate" *ngIf="showCreate">
    <md-icon>add</md-icon>
    <span class="size-xl">erstellen</span>
  </button>
</div>
