<main class="main--display-flex">
  <div class="header--flex div--no-margins div__subheader--color">
    <h3 class="h3--no-margins h3--padding">Passwort ändern</h3>
  </div>
  <div class="div--margins-05">
    <form class="form" #f="ngForm" novalidate (ngSubmit)="changePassword(f.value)">
      <section class="section">
        <md-input-container class="full-width">
          <input mdInput placeholder="aktuelles Passwort" name="currentPassword" type="password" required
                 #currentPasswordControl="ngModel" [ngModel]="currentPassword">
          <md-hint *ngIf="!currentPasswordControl.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich
          </md-hint>
        </md-input-container>
      </section>
      <section class="input-section--flex">
        <md-input-container class="full-width">
          <input mdInput placeholder="neues Passwort" name="password" type="password" #passwordControl="ngModel"
                 [ngModel]="password" required validateEqual=confirmPassword reverse="true" minlength="8"
                 password [digitCharacter]="1" [lowercaseCharacter]="1" [uppercaseCharacter]="1">
          <md-hint *ngIf="!passwordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Klein & Gross & Zahl, mind.
            8 Zeichen
            Zeichen
          </md-hint>
        </md-input-container>
      </section>
      <section class="input-section--flex">
        <md-input-container class="full-width">
          <input mdInput placeholder="Passwort wiederholen" name="confirmPassword" type="password"
                 #confirmPasswordControl="ngModel" [ngModel]="confirmPassword" required validateEqual=password>
          <md-hint *ngIf="!confirmPasswordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Passwörter sind
            nicht
            identisch
          </md-hint>
        </md-input-container>
      </section>
      <div class="div--flex">
        <span class="fill-remaining-space"></span>
        <button md-button type="submit" [disabled]="!f.valid" class="button--gray">Passwort ändern</button>
      </div>
    </form>
    <p>{{message}}</p>
    <!--<app-my-spinner [isRunning]="busy" [delay]="150"></app-my-spinner>-->
  </div>
</main>
