$switchWidth: 600px;

.app-temperature--div {
  display: flex;
  flex-direction: row;
  @media(max-width: $switchWidth) {
    flex-direction: column;
  }
}

.app-device-list {
  flex-direction: column;
  margin: 0.5em;
}


.selection-list-item {
  min-width: 10em;
}

.app-single-temperature--tab {
  width: 100%;
}
