.app-temperature--div {
  display: flex;
  flex-direction: row;
}

.app-device-list {
  flex-direction: column;
  margin: 0.5em;
}


.selection-list-item {
  min-width: 10em;
}

.app-single-temperature {
  display: flex;
  flex: 1 0;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.3em;
  padding: 0.3em;
  align-items: center;
}
