@import url('../node_modules/primeng/resources/themes/omega/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

$headerFooterPadding: 0.2em;
$headerFooterBackgroundColor: lightgreen;

* {
  box-sizing: border-box;
  border-radius: 0.3em;
}

html {
  min-width: 360px;

}

button, select {
  min-width: 5em;
  background-image: linear-gradient(to top, darkgrey 30%, white 100%);
  box-shadow: 0.1em 0.2em 0.5em grey;
}

button:hover, select:hover {
  background-image: linear-gradient(to bottom, darkgrey 30%, white 100%);
}

input[type='checkbox']:hover {
  transform: scale(1.1);
}

body {
  font-family: Arial, Verdana, sans-serif;
  border-width: 0 5px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: $headerFooterBackgroundColor;
  padding: $headerFooterPadding;
}

.headerTitle {
  margin: 6px;
  text-shadow: 0.1em 0.1em 0.5em grey;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  padding: $headerFooterPadding;
  width: 100%;
  background-color: $headerFooterBackgroundColor;
}

.contextHeaderActionDiv {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.headerAction:hover, .iconAction:active, .app-blinds-button:hover {
  transform: scale(1.10);
}

.headerIcon {
  width: 32px;
  height: 32px;
}

.userList, deviceList {
  max-width: 40%;
  max-height: 80vh;
  overflow-y: auto;

}

.userListItem, .deviceListItem {
  padding: 0.3em 0.1em;
  margin: 0.3em 0;
  border: 0.1em solid lightgrey;
}

.selectionListItem.selected {
  background-color: lightgray;
}

.ng-invalid:not(form) {
  border: 0.2em solid red;
}
