<header>
  <img class="backIcon headerIcon headerAction" src="app/images/back.svg" alt="Back Icon" title="Back Icon"
       (click)="backClicked()">
  <h1 class="headerTitle">INFO</h1>
</header>
<main>
  <h4>{{title}}</h4>
  <table class="infoTable">
    <tr class="infoRow" *ngFor="let info of infoList" class="infoItem">
      <td class="infoItem">{{info.name}}</td>
      <td class="infoItem">{{info.value}}</td>
    </tr>
  </table>
  <h4>Icons from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></h4>
  <ul class="iconReferences">
    <li><a href="http://www.flaticon.com" target="_blank">Dave Gandy</a></li>
    <li><a href="http://www.freepik.com" target="_blank">Freepik</a></li>
  </ul>

</main>
