<button md-button class="button--responsive button--gray" (click)="edit(id)" [disabled]="disableEdit"
        *ngIf="!hideEdit">
  <md-icon>edit</md-icon>
  <span class="size-xl">ändern</span></button>
<button md-button class="button--responsive button--gray" (click)="details(id)" [disabled]="disableDetails"
        *ngIf="!hideDetails">
  <md-icon>details</md-icon>
  <span class="size-xl">Details</span></button>
<button md-button class="button--responsive button--gray" (click)="del(id)" [disabled]="disableDelete"
        *ngIf="!hideDelete">
  <md-icon>delete</md-icon>
  <span class="size-xl">löschen</span></button>
<span class="span__gray">{{desc}}</span>
