.app-moving-blinds-window {
  z-index: 5;
  width: 50px;
  height: 80px;
  background-color: lightskyblue;
  border: 1px solid black;
}

.app-moving-blinds-blinds {
  position: relative;
  z-index: 10;
  width: 48px;
  height: 0%;
  background-color: #505050;
  border-radius: 0;
  align-content: center;
}

.app-moving-blinds-name {
  z-index: 20;
  padding-top: 5%;
  padding-left: 5%;
  width: 90%;
  height: 90%;
  text-align: center;
  color: white;
}
