<main class="main--display-flex">
  <div *ngFor="let device of devicePool" class="div__devices device--button" (click)="clickAction(device)">
    <img class="img__icon--big-width img__icon--right-margin" src="assets/icons/{{device.icon}}" alt="{{device.title}} Icon" title="{{device.title}} Icon">
    <div class="div__device-text">
      <div class="div__device-label">{{device.displayName}}</div>
      <div class="div__device-label">Anzahl {{device.count}}</div>
    </div>
    <div *ngIf="setup" class="div__device_setup_icon">
      <md-icon md-list-icon>settings</md-icon>
    </div>
  </div>
</main>
