<app-list-header [title]="'Rollladen-Steuerung (alle)'" [showBack]="true" [backlink]="'/dashboard'"></app-list-header>
<div class="appAllBlinds" *ngIf="devices">
  <app-blinds-buttons class="appBindsButtons"></app-blinds-buttons>
  <div class="appAllBlindsDevices">
    <div class=" action--button" *ngFor="let device of devices" (click)="select(device)">
      <app-moving-blinds class="appMovingBlinds"
                         [percentageDown]="device | blindsDataObservable:devicesState | async | blindsPercentageDown"
                         [name]="device.name"></app-moving-blinds>
    </div>
  </div>
</div>
