.main--display-flex {
  display: flex;
  flex-wrap: wrap;
}

.img__icon--right-margin {
  margin-right: 0.5em;
}

.div__devices {
  flex: 1 0 15em;
  display: flex;
  align-content: space-between;
  background-color: lightgrey;
  margin: 0.5em;
  padding: 0.5em;
  height: 6em;
  border-radius: 4px;
}

.div__device-label {
  align-self: center;
}


.div__device-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

