<div id="dashboard">
  <div class="dashboardMenu {{cssMenuClass}}">
    <div id="compoentMenuItem" class="menuItem">KOMPONENTEN</div>
    <div id="userMenuItem" class="menuItem" (click)="manageUsers()">BENUTZER</div>
    <div id="infoMenuItem" class="menuItem">INFO</div>
    <div id="logoutMenuItem" class="menuItem" (click)="logout()">ABMELDEN</div>
  </div>
  <div id="dashboardContent">
    <header>
      <img id="menuIcon" class="headerAction" src="app/images/menu.svg" alt="Menu Icon" title="Menu Icon"
           (click)="menuClicked()">
      <h1 class="headerTitle">HOMEAUTOMATION</h1>
    </header>

    <main>
      <div id="rollupDiv" class="mainSelection">
        <img id="rollupIcon" src="app/images/rollup.svg" alt="Rollup Icon" title="Rollup Icon">
        <div class="mainSelectionLabel">ROLLLADEN</div>
      </div>
      <div id="tempDiv" class="mainSelection" (click)="temperature()">
        <img id="tempIcon" src="app/images/temperatur.svg" alt="Temperature Icon" title="Temperatur Icon">
        <div class="mainSelectionLabel">TEMPERATUR</div>
      </div>
      <div id="hygroDiv" class="mainSelection">
        <img id="hygroIcon" src="app/images/hygro.svg" alt="Hygro Icon" title="Hygro Icon">
        <div class="mainSelectionLabel">FEUCHTIGKEIT</div>
      </div>
    </main>
  </div>
</div>
