<div id="dashboard">
  <div class="dashboardMenu {{cssMenuClass}}">
    <div id="compoentMenuItem" class="menuItem {{cssMenuItemClass}}" *ngIf="isAdmin" (click)="deviceSetup()">KOMPONENTEN</div>
    <div id="userMenuItem" class="menuItem {{cssMenuItemClass}}" *ngIf="isAdmin" (click)="manageUsers()">BENUTZER</div>
    <div id="infoMenuItem" class="menuItem {{cssMenuItemClass}}" (click)="showInfo()">INFO</div>
    <div id="logoutMenuItem" class="menuItem {{cssMenuItemClass}}" (click)="logout()">ABMELDEN</div>
  </div>
  <div id="dashboardContent">
    <header>
      <img id="menuIcon" class="headerAction" src="app/images/menu.svg" alt="Menu Icon" title="Menu Icon"
           (click)="menuClicked()">
      <h1 class="headerTitle">HOMEAUTOMATION</h1>
    </header>

    <main>
      <div *ngFor="let device of devices" class="mainSelection" (click)="clickAction(device)">
        <img class="{{device.css}}Icon" src="app/images/{{device.icon}}" alt="{{device.title}} Icon" title="{{device.title}} Icon">
        <div class="mainSelectionLabel">{{device.displayName}}</div>
      </div>
    </main>
  </div>
</div>
