<app-list-header [title]="'Details Rollladen'" [backlink]="'../..'" [showBack]="true"></app-list-header>
<div class="div--margins-05 div--font div--maxwith">
  <p class="p__small-margin">Name: {{blind.name}}</p>
  <p class="p__small-margin">Taster nach oben: {{convert(blind.keyUp)}}</p>
  <p class="p__small-margin">Taster nach unten: {{convert(blind.keyDown)}}</p>
  <p class="p__small-margin">Rollladen nach oben: {{convert(blind.actorUp)}}</p>
  <p class="p__small-margin">Rollladen nach unten: {{convert(blind.actorDown)}}</p>
  <p class="p__small-margin">Laufzeit der Rollladen: {{blind.runningSeconds}}s</p>
</div>
