/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.body--no-margin {
  margin: 0;
}

.body--font {
  font-family: Arial, Verdana, sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
