/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.body--no-margin {
  margin: 0;
}

.body--font {
  font-family: Arial, Verdana, sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.header--zoom-on-hover:hover {
  transform: scale(1.25);
}

.img__icon--big-width {
  width: 5em;
}

.header--padding {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.header--background-color {
  background-color: lightgreen;
}

.header--flex {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.header__title {
  margin: 10px;
  text-shadow: 0.1em 0.1em 0.5em grey;
}

.div--full-width {
  width: 100%;
}

.div--maxwith {
  max-width: 700px;
}

.div--small-margins {
  margin: 0.2em 0 0.2em 0;
}

.header {
  display: flex;
  align-items: center;
  h1 {
    margin: 0.2em;
  }
}

.div--margins-05 {
  margin: 0.5em;
}

.div--font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div--no-margins {
  margin: 0;
}

.div--minwidth {
  min-width: 400px;
}

.div--width500px {
  max-width: 500px;
}
.div--autogrow {
  flex: 1 1 auto;
}

.button--gray {
  background: #A6BAC5;
}

.button--responsive {
  min-width: 10px;
  margin: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.form {
  max-width: 500px;
  background-color: #F7F7F7;
  border-radius: 5px;
}

.div__button-row {
  display: flex;
}

.button-container--small-margins {
  margin: 0.2em 0.5em 0.2em 0.5em;
}

.input-section--flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  min-height: 3em;
}

.full-width {
  width: 100%;
}

.div__subheader--color {
  background-color: #38b938;
}

.div__subsubheader--color {
  background-color: #189918;
}

.h3--no-margins {
  margin: 0;
}

.h3--padding {
  padding: 0.5em;
}

.span__gray {
  background: #DDDDDD;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.2em;
  flex: 1 1 auto;
  min-width: 180px;
}

.div--flex {
  display: flex;
  flex-wrap: wrap;
}

.div--flex-dir-column {
  flex-direction: column;
}

.size-xs {
  display: none;
}

@media screen and (max-width: 1000px) {
  .size-xl {
    display: none;
  }

  .size-xs {
    display: block;
  }
}


