main {
}

#loginForm {
}

.loginLabel {
  flex: 0 0 8em;
  align-self: center;
}

#loginMessage {
  margin: 0 0 0.5em 8em;
  color: red;
}

.loginPageButtonDiv {
  flex: 2;
  margin: 0 0 0.5em 0;
}

#div__username {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0 0.4em 0;
}

#div__password {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.4em 0 1em 0;
}

.loginPageTitleDiv {
  font-size: 300%;
}

.input__login-message {
  margin: 0 0 0.5em 8em;
  color: red;
}
