<header class="header header--flex header--background-color header--no-padding">
  <img class="img__icon--big-width button__menu" src="assets/icons/homeautomation.svg"
       alt="Menu Icon"
       title="Menu Icon">
  <h1 class="header__title">HOMEAUTOMATION</h1>
</header>
<div class="header--flex div--no-margins div__subheader--color">
  <h3 class="h3--no-margins h3--padding">Anmeldung</h3>
</div>
<div class="div--width500px div--margins-05">
  <form class="form" #f="ngForm" novalidate (onSubmit)="doLogin()">
    <section class="section">
      <md-input-container class="div--full-width div--small-margins">
        <input mdInput placeholder="Benutzer" name="username" required #userControl="ngModel" [(ngModel)]="username">
        <md-hint *ngIf="!userControl.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich</md-hint>
      </md-input-container>
      <md-input-container class="div--full-width div--small-margins">
        <input mdInput placeholder="Passwort" name="password" required type="password" #passwordControl="ngModel"
               [(ngModel)]="password">
        <md-hint *ngIf="!passwordControl.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich</md-hint>
      </md-input-container>
    </section>
    <div *ngIf="message" class="input__login-message">
      {{message}}
    </div>
    <div class="div__button-row">
      <span class="fill-remaining-space"></span>
      <button md-button type="submit" (click)="doLogin()" [disabled]="!f.valid" class="button--gray">Login
      </button>
    </div>
  </form>
  <!--  <app-my-spinner [isRunning]="busy" [delay]="150"></app-my-spinner>-->
</div>
<app-footer></app-footer>
