<header>
  <img id="backIcon" class="headerAction" src="app/images/back.svg" alt="Back Icon" title="Back Icon"
       (click)="backClicked()">
  <h1 class="headerTitle">{{headerTitle}}</h1>
  <div *ngIf="addActionEnabled" class="contextHeaderActionDiv">
    <img id="addIcon" class="headerAction contextHeaderAction" src="app/images/add.svg" alt="Add Icon"
         title="Add Icon" (click)="addClicked()">
  </div>
</header>
<main>
  <div class="deviceList">
    <div *ngFor="let device of devices" class="deviceListItem selectionListItem" [class.selected]="device === selectedDevice"
         (click)="selectDevice(device)">{{device.name}}
    </div>
  </div>
  <form class="deviceForm" *ngIf="device" (ngSubmit)="doAddOrUpdate()" #deviceForm="ngForm">
    <div class="deviceFormRow">
      <label class="deviceFormLabel">ID</label>
      <label *ngIf="device.id" class="deviceFormValue">{{device.id}}</label>
      <label *ngIf="!device.id" class="deviceFormValue">NEW</label>
    </div>
    <div class="deviceFormRow">
      <label class="deviceFormLabel">NAME</label>
      <input [(ngModel)]="device.name" placeholder="Name" class="deviceFormValue validatable deviceInput"
             type="text" (keydown)="clearMessage()" (focus)="clearMessage()"
             name="name" required minlength="2">
    </div>
    <div class="deviceFormRow">
      <label class="deviceFormLabel">PORT</label>
      <select [(ngModel)]="device.port" class="deviceFormValue validatable deviceInput" name="port" (focus)="clearMessage()">
        <option *ngFor="let port of ports" [value]="port" [selected]="port === device.port">{{getPortName(port)}}</option>
      </select>
    </div>
    <div class="deviceFormRow">
      <label class="deviceFormLabel">INTERVALL [s]</label>
      <input [(ngModel)]="device.pollingInterval" placeholder="Abfrage-Intervall in Sekunden" class="deviceFormValue validatable deviceInput"
             type="number" (keydown)="clearMessage()" (focus)="clearMessage()"
             name="pollingInterval" required min="1">
    </div>
    <div *ngIf="message" id="deviceMessage">
      {{message}}
    </div>
    <div class="buttonDiv">
      <button id="okButton" type="submit"
              [disabled]="!deviceForm.form.valid">OK
      </button>
      <button id="deleteButton" type="button" [disabled]="!device.id" (click)="doDelete()">
        LÖSCHEN
      </button>
    </div>
  </form>
</main>
