<header>
  <img class="backIcon headerIcon headerAction" src="app/images/back.svg" alt="Back Icon" title="Back Icon"
       (click)="backClicked()">
  <h1 class="headerTitle">KOMPONENTEN-SETUP</h1>
</header>

<main>
  <div *ngFor="let device of devicePool" class="mainSelection" (click)="clickAction(device)">
    <img class="{{device.css}}Icon" src="app/images/{{device.icon}}" alt="{{device.title}} Icon"
         title="{{device.title}} Icon">
    <div class="deviceText">
      <div class="mainSelectionLabel">{{device.displayName}}-SETUP</div>
      <div class="deviceCount">Anzahl {{device.count}}</div>
    </div>
  </div>
</main>
