  <div class="deviceFormRow">
    <label class="deviceFormLabel">ID</label>
    <label *ngIf="device.id" class="deviceFormValue">{{device.id}}</label>
    <label *ngIf="!device.id" class="deviceFormValue">NEW</label>
  </div>
  <div class="deviceFormRow">
    <label class="deviceFormLabel">NAME</label>
    <input [(ngModel)]="device.name" placeholder="Name" class="deviceFormValue validatable deviceInput"
           type="text" (keydown)="clearMessage()" (focus)="clearMessage()"
           name="name" required minlength="2">
  </div>
  <div class="deviceFormRow">
    <label class="deviceFormLabel">PORT</label>
    <select [(ngModel)]="device.port" class="deviceFormValue validatable deviceInput" name="port"
            (focus)="clearMessage()">
      <option *ngFor="let port of ports" [value]="port" [selected]="port === device.port">{{getPortName(port)}}</option>
    </select>
  </div>
  <div class="deviceFormRow">
    <label class="deviceFormLabel">INTERVALL [s]</label>
    <input [(ngModel)]="device.pollingInterval" placeholder="Abfrage-Intervall in Sekunden"
           class="deviceFormValue validatable deviceInput"
           type="number" (keydown)="clearMessage()" (focus)="clearMessage()"
           name="pollingInterval" required min="1">
  </div>
