<header>
  <img id="menuIcon" src="app/img/menu.svg" alt="Menu Icon" title="Menu Icon">
  <h1 id="mainTitle">HOMEAUTOMATION</h1>
</header>

<div id="mainContent">
  <div id="rollupDiv" class="mainSelection">
    <img id="rollupIcon" src="app/img/rollup.svg" alt="Rollup Icon" title="Rollup Icon">
    <div class="mainSelectionLabel">ROLLLADEN</div>
  </div>
  <div id="tempDiv" class="mainSelection">
    <img id="tempIcon" src="app/img/temperatur.svg" alt="Temperature Icon" title="Temperatur Icon">
    <div class="mainSelectionLabel">TEMPERATUR</div>
  </div>
  <div id="hygroDiv" class="mainSelection">
    <img id="hygroIcon" src="app/img/hygro.svg" alt="Hygro Icon" title="Hygro Icon">
    <div class="mainSelectionLabel">FEUCHTIGKEIT</div>
  </div>
</div>
