<header>
    <img id="homeautomationIcon" src="app/img/homeautomation.svg" alt="Login Icon" title="Login Page Icon">
    <h1 class="headerTitle">HOMEAUTOMATION</h1>
</header>

<main *ngIf="loggedOut===true">
    <form (ngSubmit)="doLogin()" #loginForm="ngForm">
        <div id="loginTitleDiv" class="loginPageTitleDiv">
            ANMELDEN
        </div>
        <div id="usernameDiv">
            <label id="usernameLabel" class="loginLabel" for="username">USERNAME</label>
            <input [(ngModel)]="username" placeholder="username" id="username" class="validatable loginInput"
                   tpye="text" (keydown)="clearMessage()" (focus)="clearMessage()"
                   name="username" required minlength="4">
        </div>
        <div id="passwordDiv">
            <label id="passwordLabel" class="loginLabel" for="password">PASSWORT</label>
            <input [(ngModel)]="password" placeholder="password" id="password" class="validatable loginInput"
                   type="password" (keydown)="clearMessage()" (focus)="clearMessage()" name="password" required minlength="4">
        </div>
        <div *ngIf="message" id="loginMessage">
            {{message}}
        </div>
        <div id="loginButtonDiv" class="loginPageButtonDiv">
            <button id="loginButton" type="submit" [disabled]="!loginForm.form.valid">OK</button>
        </div>
    </form>
</main>
<main *ngIf="loggedOut===false" id="logoutContent">
    <div id="logoutTitleDiv" class="loginPageTitleDiv">
        ABMELDEN
    </div>
    <div id="logoutButtonDiv" class="loginPageButtonDiv">
        <button id="logoutButton" (click)="doLogout()">OK</button>
    </div>
</main>
