<app-list-header [title]="'Rollladen-Steuerung (alle)'" [showBack]="true" [backlink]="'/dashboard'"></app-list-header>
<div class="app-all-blinds__div" *ngIf="blindsDeviceCacheService.getAll() | async | notEmptyArray">
  <app-blinds-buttons class="app-blinds-buttons"></app-blinds-buttons>
  <div class="all-blinds__div">
    <div class=" action--button" *ngFor="let device of blindsDeviceCacheService.getAll() | async"
         (click)="select(device.id)">
      <app-moving-blinds class="app-moving-blinds"
                         [percentageDown]="blindDataCacheService.getLatestData(device.id) | async | blindsPercentageDown"
                         [name]="device.name"></app-moving-blinds>
    </div>
  </div>
</div>
