$blindsDeviceWidth: 87px;
$blindsDeviceHeight: 100px;
$blindsDeviceBorder: 3px;
$switchWidth: 600px;
$boxMinSize: 150px;

.app-all-blinds__div {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  font-size: 67%;
  padding: 0.5em;
}

.all-blinds__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0.2em;
}

:host /deep/ app-moving-blinds .app-moving-blinds-window {
  margin: 5px;
  width: $blindsDeviceWidth;
  height: $blindsDeviceHeight;
  border: $blindsDeviceBorder solid black;
}

:host /deep/ app-moving-blinds .app-moving-blinds-blinds {
  width: $blindsDeviceWidth;
}

:host /deep/ app-blinds-buttons .app-blinds-button__div {
  flex-direction: column;
  height: 100%;
  width: auto;
  margin-left: 0;
  margin-top: 0;
}

:host /deep/ .app-blinds-button {
  margin: 2px;
}
