<header>
  <img class="backIcon headerIcon headerAction" src="app/images/back.svg" alt="Back Icon" title="Back Icon"
       (click)="backClicked()">
  <h1 class="headerTitle">{{headerTitle}}</h1>
  <div *ngIf="selectedDevice != null" class="contextHeaderActionDiv">
    <img class="showAllIcon headerIcon headerAction contextHeaderAction" src="app/images/showall.svg" alt="Add Icon"
         title="Show All Icon" (click)="showAllClicked()">
  </div>
</header>
<main>
  <div class="deviceList">
    <div class="deviceListItem selectionListItem" *ngFor="let device of devices"
         [class.selected]="device === selectedDevice"
         (click)="selectDevice(device)">{{device.name}}
    </div>
  </div>
  <app-all-blinds class="appAllBlinds" *ngIf="!selectedDevice && devices.length > 0" [devices]="devices" [devicesState]="devicesState"></app-all-blinds>
  <app-single-blinds class="appSingleBlinds" [device]="selectedDevice" [percentageDown]="selectedDevicePercentageDown"></app-single-blinds>
</main>
