<header>
  <img class="backIcon headerIcon headerAction" src="app/images/back.svg" alt="Back Icon" title="Back Icon"
       (click)="backClicked()">
  <h1 class="headerTitle">{{headerTitle}}</h1>
  <div *ngIf="selectedDevice != null" class="contextHeaderActionDiv">
    <img class="showAllIcon headerIcon headerAction contextHeaderAction" src="app/images/showall.svg" alt="Add Icon"
         title="Show All Icon" (click)="showAllClicked()">
  </div>
</header>
<main>
  <div class="deviceList">
    <div class="deviceListItem selectionListItem" *ngFor="let device of devices"
         [class.selected]="device === selectedDevice"
         (click)="selectDevice(device)">{{device.name}}
    </div>
  </div>
  <div class="deviceControl" *ngIf="!selectedDevice">
    <app-blinds-buttons class="appBindsButtons" (setMessage)="message($event)"></app-blinds-buttons>
    <div class="deviceGroupList" *ngFor="let device of devices">
      <app-moving-blinds class="appMovingBlinds" [percentageDown]="device | blindsDataObservable:devicesState | async | blindsPercentageDown" [name]="device.name"></app-moving-blinds>
    </div>
  </div>
  <div class="deviceControl" *ngIf="selectedDevice">
    <app-moving-blinds class="appMovingBlinds" [percentageDown]="selectedDevicePercentageDown" [name]="selectedDevice.name"></app-moving-blinds>
    <app-blinds-buttons class="appBindsButtons" [deviceId]="selectedDevice.id" (setMessage)="message($event)"></app-blinds-buttons>
  </div>
</main>
