<div class="div--maxwith div--autogrow div--no-margins">
  <form #f="ngForm" novalidate (ngSubmit)="submit(f.value)">
    <div class="header--flex div--no-margins div__subsubheader--color">
      <h3 class="h3--no-margins h3--padding">{{title}}</h3>
      <span class="fill-remaining-space"></span>
      <button md-button type="button" class="size-xs button--responsive" (click)="cancel()">
        <md-icon>undo</md-icon>
      </button>
      <button md-button type="submit" class="size-xs button--responsive" [disabled]="!f.valid">
        <md-icon>save</md-icon>
      </button>
    </div>
    <div class="div--margins-05 div--font div--maxwith">
      <section class="input-section--flex">
        <md-input-container class="full-width button-container--small-margins">
          <input mdInput placeholder="Name" name="name" required minlength="4" maxlength="20" #nameControl="ngModel"
                 [ngModel]="blind.name">
          <md-hint *ngIf="!nameControl.valid" [ngStyle]="{'color': 'red'}" align="start">zwischen 4 - 20 Zeichen lang
          </md-hint>
        </md-input-container>
      </section>
      <section class="input-section--flex">
        <div class="div--margins-05 input-container--middle-size">
          <div class="div--small-margins div--flex div--flex-dir-column">
            <md-select placeholder="Eingang: Taster nach oben" name="keyUp" #inputKeyUpControl="ngModel"
                       [ngModel]="blind.keyUp" required>
              <md-option *ngFor="let port of unusedInputPortHandler.getUnusedPort() | async" [value]="port">
                {{getPortName(port)}}
              </md-option>
            </md-select>
            <p class="div__select--hint" *ngIf="!inputKeyUpControl.valid">erforderlich</p>
          </div>
        </div>
        <div class="div--margins-05 input-container--middle-size">
          <div class="div--small-margins div--flex div--flex-dir-column ">
            <md-select placeholder="Eingang: Taster nach unten" name="keyDown" #inputKeyDownControl="ngModel"
                       [ngModel]="blind.keyDown" required>
              <md-option *ngFor="let port of unusedInputPortHandler.getUnusedPort() | async" [value]="port">
                {{getPortName(port)}}
              </md-option>
            </md-select>
            <p class="div__select--hint" *ngIf="!inputKeyDownControl.valid">erforderlich</p>
          </div>
        </div>
      </section>
      <section class="input-section--flex">
        <div class="div--margins-05">
          <div class="div--small-margins div--flex div--flex-dir-column">
            <md-select placeholder="Ausgang: Rollladen nach oben" name="actorUp" #outputActorUpControl="ngModel"
                       [ngModel]="blind.actorUp" required>
              <md-option *ngFor="let port of unusedOutputPortHandler.getUnusedPort() | async" [value]="port">
                {{getPortName(port)}}
              </md-option>
            </md-select>
            <p class="div__select--hint" *ngIf="!outputActorUpControl.valid">erforderlich</p>
          </div>
        </div>
        <div class="div--margins-05">
          <div class="div--small-margins div--flex-dir-column">
            <md-select class="fill-remaining-space" placeholder="Ausgang: Rollladen nach unten" name="actorDown"
                       #outputActorUpControl="ngModel"
                       [ngModel]="blind.actorDown" required>
              <md-option *ngFor="let port of unusedOutputPortHandler.getUnusedPort() | async" [value]="port">
                {{getPortName(port)}}
              </md-option>
            </md-select>
            <p class="div__select--hint" *ngIf="!outputActorUpControl.valid">erforderlich</p>
          </div>
        </div>
      </section>
      <section class="input-section--flex">
        <md-input-container class="full-width button-container--small-margins">
          <input mdInput placeholder="Laufzeit des Rollladen" name="runningSeconds" required isInRange [minValue]="10"
                 [maxValue]="300" #runningSecondsControl="ngModel" [ngModel]="blind.runningSeconds">
          <md-hint *ngIf="!runningSecondsControl.valid" [ngStyle]="{'color': 'red'}" align="start">Zahl zwischen 10 und
            300
          </md-hint>
        </md-input-container>
      </section>
    </div>
  </form>
</div>
