#users {
}

#addIcon {
}

#usersContent {
  display: flex;
}

main {
  display: flex;
}

.userList {
  flex-direction: column;
  margin: 0.5em;
}

.userForm {
  flex: 2 2;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.5em;
  background-color: lightgray;
}

.userFormRow {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.4em 0;
}

.userFormLabel {
  flex: 0 0 8em;
}

.userTypeRadioDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.userFormRadio {
  display: flex;
  flex-wrap: nowrap;
}

.userFormValue {
  flex: 1;
}

.userIdDiv {
}

#userMessage {
}

.buttonDiv {
  margin-top: 0.5em;
}

#okButton {
}

#deleteButton {
}

.contextHeaderActionDiv {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.contextHeaderAction {
}
