$bigFontSize: 150%;

@mixin bigAndBold() {
  font-size: $bigFontSize;
  font-weight: bold;
}

.app-analog-view {
  display: flex;
  flex: 0 0;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  border: black solid 1px;
  width: 100px;
}

.app-analog-view--name {
  padding: 0.3em;
}

.app-analog-view-value--box {
  display: flex;
  flex: 0 0;
  flex-direction: row;
  margin: 0.5em;
}

.app-analog-view-value-left {
  @include bigAndBold;
}

.app-analog-view-value-right {
  margin-left: 0.1em;
  font-weight: bold;
}

.app-analog-view-value-units {
  @include bigAndBold;
  margin-left: 0.2em;
}

.app-analog-view--time {
  padding: 0.3em;
  font-size: 70%;
}
