.header {
  display: flex;
  align-items: center;
  h1 {
    margin: 0.2em;
  }
}

.toolbar__header {
  background-color: #38b938;
}

.menu__separator {
  height: 1em;
}


.button__menu {
  margin: 0.5em;
}

.header__title {
  margin: 10px;
  text-shadow: 0.1em 0.1em 0.5em grey;
}

.header--zoom-on-hover:hover {
  transform: scale(1.25);
}
.header--flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

.header--no-padding{
  padding: 0;
}

.footer--padding {
  padding: 0.5em;
}

.header--background-color, .footer--background-color{
  background-color: lightgreen;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}



