.button--gray {
  background: #A6BAC5;
}

.input-container--small-size {
  flex-grow: 1;
  width: 5em;
}

.input-container--middle-size {
  flex-grow: 2;
  width: 10em;
}

.input-container--big-size {
  flex-grow: 3;
  width: 15em;
}

.button--margin05 {
  margin: 0.5em;
}

.div__select--hint {
  margin-top: 0.2em;
  margin-bottom: 0;
  display: block;
  font-size: 75%;
  bottom: 0;
  color: red;
}
