<app-list-header [title]="title" [showBack]="true"></app-list-header>
<div class="app-device--div">
  <div class="app-device-list">
    <span class="span__gray div--flex selection-list-item action--button"
          *ngFor="let device of deviceCacheService.getAll() | async"
          [class.selected]="device.id === selectedDeviceId"
          (click)="selectDevice(device.id)">
      {{device.name}}
    </span>
  </div>
  <div class="app-single-device" *ngIf="selectedDeviceId">
    <md-tab-group class="app-single-device--tab">
      <md-tab label="Aktuell">
        <app-analog-view class="app-analog-view" [name]="(deviceCacheService.getDevice(selectedDeviceId) | async)?.name"
                         [value]="(dataCacheService.getLatestData(selectedDeviceId) | async)?.value" [units]="units"
                         [timestamp]="(dataCacheService.getLatestData(selectedDeviceId) | async)?.timestamp"></app-analog-view>
      </md-tab>
      <md-tab label="Diagram">
        <app-chart-view class="app-chart-view" [deviceDataHistory]="deviceDataHistory" [label]="label"></app-chart-view>
      </md-tab>
    </md-tab-group>
  </div>
</div>
