<div class="div--maxwith div--autogrow div--no-margins">
  <app-list-header [title]="'Benutzer Details'" [showBack]="true" [backlink]="'../..'"></app-list-header>
  <div class="div--margins-05 div--font div--maxwith">
    <div class="details-container">
      <p class="p__small-margin">Benutzername: {{user.username}}</p>
      <p class="p__small-margin">Name: {{user.firstname}} {{user.lastname}}</p>
      <p class="p__small-margin">Type: {{userTypeAsString(user.type)}}</p>
    </div>
  </div>
</div>
