* {
    box-sizing: border-box;
    border-radius: 0.3em;
}

html {
}

button, select {
    min-width: 5em;
    background-image: linear-gradient(to top, darkgrey 30%, white 100%);
    box-shadow: 0.1em 0.2em 0.5em grey;
}

button:hover, select:hover {
    background-image: linear-gradient(to bottom, darkgrey 30%, white 100%);
}

input[type='checkbox']:hover {
    transform: scale(1.25);
}

body {
    font-family: Arial, Verdana, sans-serif;
    border-width: 0 5px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgreen;
    padding: 0.5em;
}

#mainTitle, .headerTitle {
    margin: 10px;
    text-shadow: 0.1em 0.1em 0.5em grey;
}

.contextHeaderActionDiv {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.contextHeaderAction {
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    padding: 10px;
    width: 100%;
    background-color: lightgreen;
}

.loginPageTitleDiv {
    font-size: 300%;
}

.ng-invalid:not(form)  {
    border: 0.2em solid red;
}

#usernameDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1em 0 0.4em 0;
}

#passwordDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.4em 0 1em 0;
}



#dashboard {
    display: flex;
    width: 100%;
}

.dashboardMenu {
    display: flex;
    flex: 0 0;
    flex-direction: column;
    background: black;
    color: white;
    padding: 0.5em;
}

.hideMenu {
    width: 0;
    padding: 0.5em 0;
    transition: 0.5s;
}

.showMenu {
    width: 20em;
    padding: 0.5em;
    transition: width 0.5s;
}

.menuItem {
    margin-top: 0.5em;
    padding: 0.2em;
    transition: width 0.4s;
}

.menuItem:hover {
    color: black;
    background-color: lightgrey;
}

#dashboardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    font-size: 11pt;
}

.mainSelection {
    display: flex;
    flex: 1 0 15em;
    align-content: space-between;
    background-color: lightgrey;
    margin: 0.5em;
    padding: 0.5em;
    height: 6em;
}

.mainSelection > img {
    margin-right: 0.5em;
}

.mainSelection:hover {
    background-color: yellow;
}

.mainSelectionLabel {
    align-self: center;
}


.headerAction:hover {
    transform: scale(1.25);
}

#homeautomationIcon {
    width: 5em;
}

#rollupIcon {
    width: 5em;
}

#tempIcon {
    width: 5em;
}

#hygroIcon {
    width: 5em;
}
