<app-list-header [title]="'Rollladen-Steuerung (einzeln)'" [showBack]="true" [showShowAll]="true"></app-list-header>
<div class="singleBlindsDiv">
  <div class="deviceList">
    <span class="span__gray div--flex selection-list-item" *ngFor="let device of allDevices"
          [class.selected]="device === selectedDevice"
          (click)="selectDevice(device)">
      {{device.name}}
    </span>
  </div>
  <div class="appSingleBlinds" *ngIf="selectedDevice">
    <app-moving-blinds class="appMovingBlinds" [percentageDown]="deviceState | async | blindsPercentageDown"
                       [name]="selectedDevice.name"></app-moving-blinds>
    <app-blinds-buttons class="appBindsButtons" [deviceId]="selectedDevice.id"></app-blinds-buttons>
  </div>
</div>
