<div class="header--flex div--no-margins div__subheader--color">
  <button md-button type="button" class="size-xs button--responsive" (click)="back()">
    <md-icon>arrow_back</md-icon>
  </button>
  <h3 class="h3--no-margins h3--padding">Rollladenverwaltung</h3>
  <span class="fill-remaining-space"></span>
  <button md-button class="button--responsive" (click)="createBlind()">
    <md-icon>add</md-icon>
    <span class="size-xl">erstellen</span>
  </button>
</div>
<p>
  blinds-setup-overview works!
</p>
